body{ 
    /* background-color: #96A78D; */
    /* background-image:url("abstract-digital-grid-black-background.jpg") ; */
    /* background-color: #96A78D; */
    font-family: 'Segoe UI', sans-serif;
    color: #F0F0F0;
    
} 
.back-img{
  background-image:url("abstract-digital-grid-black-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}  
/* Page Animisiton */
 @keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity:1 ;
    scale: 1;
  }
 }
 /* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 .block{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
 }


.Home{
  display: flex;
}
#image{
  border-radius: 50%;
  filter: drop-shadow(8px 8px 20px white);
  float: right;
  display: block;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 100px;
  height: 350px;
  width: auto;
  
}

/* typing Animistion */
.typings {
  display: inline-block;
  font-size: 35px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing1 3s steps(30, end) forwards;
}

.typings::after {
  content: '|';
  animation: blink 0.7s infinite;
  margin-left: 2px;
}

.typ {
  display: inline-block;
  font-size: 35px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing2 2.5s steps(25, end) forwards;
  animation-delay: 3s;
}

.typ::after {
  content: '|';
  animation: blink 0.7s infinite;
  margin-left: 2px;
  animation-delay: 3s;
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 30ch }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 25ch }
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

    /* All Headings */
.-h1{
  text-align: center;
  color: rgb(6, 172, 201)
}
.web{
  color: white;
  /* margin: 200px; */
  margin-top: 200px;
  margin-left: 100px;
  font-size: 40px;
  /* text-align: justify; */

}
.About{
  background-color:#021925;
  color: white;
  text-align: center;
  padding: 100px;

}
.paragraf{
  color: white;
  text-align: center;
  /* text-align: justify; */
  margin-left: 300px;
  margin-right: 300px;
}
.heading{
  text-align: center;
  color: rgb(6, 172, 201)
}
.contater,.parag{
   text-align: center;
  justify-content: center;
}
.Services{
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}
.contater{
  color: white;
  background-color:#021329d8;

  width: 330px;
  height: 380px;
  text-align: center;
  margin: 70px;
  text-align: justify;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
}
.parag{
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;

}
.contater:hover{
   transform: translateY(-8px) rotateX(0deg);
  box-shadow: 0 20px 50px rgb(46, 42, 42);
  /* box-shadow: 0 20px 50px rgba(240, 46, 170, 0.7); */
}
   /* Multimedia    */
.us{
  text-align: center;
  color: rgb(6, 172, 201)
}
.Contact{
  /* background-color: #212121; */
   display: flex;

} 
/* 
/* From Uiverse.io by mooosakhan */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  flex-direction: column;
  margin:80px;

}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 
.form-media{
  display: flex;
  flex-direction: row;
}


/* Media Queries for Responsive Design */

/* Tablets and Small Laptops */
@media (max-width: 1024px) {
    .Home {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }
    
    #image {
        width: 300px;
        height: 300px;
        margin: 50px auto;
        position: static;
        transform: none;
    }
    
    .web {
        margin: 50px auto;
        font-size: 35px;
        text-align: center;
    }
    
    .typings, .typ {
        font-size: 30px;
    }
    
    .paragraf {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .Services {
        flex-direction: column;
        align-items: center;
    }
    
    .contater {
        margin: 30px auto;
    }
    
    .form-box {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px 20px;
    }
    
    .nav-item {
        font-size: 16px;
        padding: 10px 15px;
    }
    
    .web {
        font-size: 30px;
        margin: 30px auto;
    }
    
    .typings, .typ {
        font-size: 25px;
    }
    
    #image {
        width: 250px;
        height: 250px;
    }
    
    .paragraf {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 14px;
    }
    
    .form-container {
        width: 350px;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .navbar {
        gap: 10px;
        padding: 10px 15px;
    }
    
    .nav-item {
        font-size: 14px;
        padding: 8px 12px;
    }
    
    .Home {
        padding: 30px 15px;
    }
    
    .web {
        font-size: 25px;
        margin: 20px auto;
    }
    
    .typings, .typ {
        font-size: 20px;
    }
    
    #image {
        width: 200px;
        height: 200px;
        margin: 30px auto;
    }
    
    .paragraf {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
    }
    
    .contater {
        width: 280px;
        height: auto;
        margin: 20px auto;
        /* padding: 15px; */
    }
    
    .form-container {
        width: 300px;
        /* padding: 20px 15px; */
        padding-left: 200px;
    }
    
    .social-buttons {
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .social-button {
        width: 40px;
        height: 40px;
    }
    
}

/* Very Small Mobile Phones */
@media (max-width: 360px) {
    .web {
        font-size: 22px;
    }
    
    .typings, .typ {
        font-size: 18px;
    }
    
    #image {
        width: 180px;
        height: 180px;
    }
    
    .form-container {
        width: 280px;
    }
    
    .contater {
        width: 260px;
    }
    .form-container {
        width: 95%;
        max-width: 280px;
    }
}

/* Large Screens */
@media (min-width: 1440px) {
    .web {
        font-size: 45px;
        margin-left: 200px;
    }
    
    .typings, .typ {
        font-size: 40px;
    }
    
    #image {
        width: 500px;
        height: 500px;
        margin-right: 200px;
    }
    
    .paragraf {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 18px;
    }
   
}


